
.error-text {
    display: flex;
    width: 100%;
    flex-direction: column;
}

option:disabled {
    background-color: lightgrey;
}

cdek-multiselect,
cdek-select {
    .dropdown {
        max-height: 250px !important;
    }
}

.w100p {
    width: 100%;
}

.cdek-input:disabled,
cdek-input input[disabled],
cdek-textarea textarea[disabled] {
    color: $gray-90;
}

.control {
    & > label {
        color: $gray-80;
        display: block;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .4px;
        line-height: 16px;
        white-space: nowrap;
        width: 100%;
    }
}

[hidden] {
    display: none !important;
}

.tooltip.tooltip-brand-danger.bs-tooltip-top {
    .arrow {
        &::before {
            border-top-color: #d9534f;
        }
    }
}

.ek5-dialog__buttons {
    margin-top: $base-offset * 4;
}

.seller-closed {
    ngb-pagination {
        .page-item {
            border-radius: $base-border-radius;
        }
    }
}

ngb-pagination {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;

    .pagination {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .page-item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: $base-offset * 0.5;

        background-color: $main-background-color;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        min-width: ($base-offset * 5.5);
        min-height: ($base-offset * 5.5);
        line-height: 1;
        font-size: 12px;
        letter-spacing: normal;

        border-radius: $border-radius-only-top;
        transition: color .15s ease-in-out, background-color .15s;

        &:not(:first-child):not(:last-child) {
            min-width: 85px;
        }

        &:focus,
        &:hover,
        &:active {
            outline: none;
        }

        &:first-child,
        &:last-child {
            line-height: 8px;
            font-size: 8px;
            border: none;
            border-radius: $base-border-radius;
        }

        &:disabled,
        &.disabled {
            color: $disable-font-color;
            background-color: $main-background-color;
            pointer-events: none;
            cursor: not-allowed;
        }

        color: $primary-button-color;
        border: none $primary-button-border;

        &:focus,
        &:hover {
            background-color: $on-primary-color;
            color: $font-color-active;
        }

        &:active,
        &.active {
            color: $gray90;
            background-color: $gray20;
        }
    }

    .page-link {
        color: inherit;
        padding: ($base-offset * 2) $base-offset;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ek5-icon-go_right--left {
        display: block;
        transform: rotate(180deg);
    }
}

.tariffs-controls {
    align-items: flex-end;
    gap: $base-offset * 2;

    > * {
        width: auto;

        &:first-child {
            width: 100%;
        }
    }
}

.tooltip.tooltip-brand-danger {
    .tooltip-inner {
        background-color: #d9534f;
        border-color: #a94442;
        color: #ffffff;
    }
}

cdek-datepicker.ng-touched.ng-invalid {
    input {
        border: 1px solid #ea3d2f;
        caret-color: #ea3d2f;
        padding-left: 8px;
    }
}

.label-old {
    color: $gray-80;
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 16px;
    white-space: nowrap;
    width: 100%;
}

.errors-text__msg {
    font-size: 11px;
    color: #E99002;
    line-height: 1.4;
    padding-top: $base-offset;
}

.cdek-radio-group--horizontal {
    display: flex;
    gap: $base-offset * 4;

    & > * {
        width: 100%;
    }
}


app-contract-steps {
    .header {
        padding: $base-offset * 2;
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        .title {
            font-size: 16px;
            font-weight: bold;
        }
    }

    p {
        color: $font-color;
    }

    .icon-arrow {
        color: $font-color;
        cursor: pointer;
    }

    .arrows {
        margin-left: auto;
    }

    .content {
        padding-top: 0;
        padding-right: $base-offset * 2;
        padding-left: $base-offset * 2;
        padding-bottom: $base-offset * 2;
    }


    .ek5-checkbox {
        padding-top: 3px;
    }
}

.postamat-grid,
.postamat-history__table-wrapper {
    .ek5-ag-grid-wrapper {
        .ag-header-cell-text {
            font-size: 12px;
        }

        .ag-header-row {
            background-color: #C6CACC;
        }

        .ag-header-cell {
            padding: 0 $base-offset * 2;
            border: 0.2px solid #C6CACC;
            color: #3E4345;
        }

        .ag-header-cell-label {
            line-height: 16px;
            padding: 0;
            color: #3E4345;
        }

        .ag-body-viewport::-webkit-scrollbar {
            width: 16px;
        }

        /* Track */
        .ag-body-viewport::-webkit-scrollbar-track {
            background: #C6CACC;
        }

        /* Handle */
        .ag-body-viewport::-webkit-scrollbar-thumb {
            background: #919699;
        }

        /* Handle on hover */
        .ag-body-viewport::-webkit-scrollbar-thumb:hover {
            background: #676b6e;
        }

        .ag-row {
            &:last-child {
                .ag-cell {
                    border-bottom: 0.2px solid #C6CACC;
                }
            }
        }

        .ag-cell {
            padding: 0 $base-offset * 2;
            border: 0.2px solid #C6CACC;
            background-color: #fff;
            border-right: none;
            border-bottom: none;
            text-align: left;

            &:last-child {
                border-right: 0.2px solid #C6CACC;
            }
        }

        .ag-header-viewport {
            background-color: #C6CACC;
        }

        .ag-row-selected {
            color: #3E4345;

            .ag-cell {
                background-color: #E0F2F1;
            }
        }

        .ag-pinned-left-header {
            background-color: #C6CACC;
        }

        .ag-right-aligned-cell {
            text-align: right;
        }

        .ag-cell-inline-editing {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.button-wrapper {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.postamat-grid {
    .ag-cell {
        line-height: 25px;
    }
}

.postamat-history__table-wrapper {
    .ek5-ag-grid-wrapper {
        .ag-header-cell-text {
            font-size: 14px;

        }
    }

    .ag-cell {
        font-size: 14px;
        line-height: 33px;
    }
}

.control-with-icon {
    position: relative;

    .tooltip {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        z-index: 1;
        height: 16px;
    }
}

.cdek-tooltip:empty {
    display: none;
}

//Костыль, потому что cdek-multiautocomplete не имеет своих таких стилей
//cdek-multiselect.ng-dirty.ng-invalid,
//cdek-multiselect.ng-touched.ng-invalid {
//    .label-text {
//        color: $red-base;
//    }
//    .control {
//        border-color: $red-base;
//    }
//}
