<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gutev & Co</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item" ><a class="nav-link" th:href="@{/inputform}">Калькулятор 1</a></li>
                <li class="nav-item" ><a class="nav-link" th:href="@{/}">Калькулятор 2</a></li>
                <li class="nav-item" ><a class="nav-link" th:href="@{/}">Калькулятор 3</a></li>
                <a type="button" th:href="@{/}" class="btn btn-outline-light">На главную</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col text-center">

        <h2 class="mt-5">Введите параметры для расчета</h2>
        <ul class="list-unstyled">
        </ul>
    </div>
</div>


<form autocomplete="off" action="/action_page.php">
    <p>
    <h5>
    <div class=class="container">
        <li class="autocomplete" style="width:300px;"><input id="materialName" type="text" name="materialName" placeholder="Материал"></li>
        <li class="autocomplete" style="width:300px;"><input id="heatConduction" type="text" name="heatConduction" placeholder="Теплопроводность"></li>
        <li class="autocomplete" style="width:300px;"><input id="weight" type="text" name="weight" placeholder="Вес"></li>
        <li class="autocomplete" style="width:300px;"><input id="square" type="text" name="square" placeholder="Площадь"></li>
    </div>
    </h5>
    </p>
</form>

</body>
</html>