<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head th:fragment="htmlhead">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gutev & Co Welcome Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
        <li class="nav-item" ><a class="nav-link" th:href="@{/inputform}">Калькулятор 1</a></li>
        <li class="nav-item" ><a class="nav-link" th:href="@{/}">Калькулятор 2</a></li>
        <li class="nav-item" ><a class="nav-link" th:href="@{/}">Калькулятор 3</a></li>
          <a type="button" th:href="@{/}" class="btn btn-outline-light">На главную</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-5">Онлайн Расчет Огневой Нагрузки</h1>
      <p class="lead">Гутев и Ко</p>
      <ul class="list-unstyled">
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a type="button" th:href="@{/health}" class="btn btn-secondary bg-secondary text-white">Перейти к Расчету</a>
    </div>
  </div>
</div>



<th:block th:fragment="footer">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/its.js}"></script>
</th:block>
</body>
</html>
